<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>NYC Concerts</title>
        <meta name="description" content="A Lo-Fi list of upcoming NYC concerts, powered by JamBase">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
    body, html{
        font-family: Verdana, sans-serif;
    }
    a{
    color: black;
    }
    .th{
        float:left;
    }
    a:hover{
    color: #222;
    }
        .head{
            width: 100%;
            text-align: center;
        }
        .container{
            width: 100%;
            max-width: 980px;
            margin: auto;
            text-align: center;
        }
        .container table, tr, td, th{
            text-align: left;
            border: solid 1px;
        }

        @media screen and (orientation: portrait)
        {
            .th, th{
                width:25% !important;
                font-size:75%;
            }
        }
    </style>



    </head>
    <body>
        <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->
        <div class="head">
            <h1>NYC Concerts</h1>
        </div>
        <div class="container">
            <div style="width:100%">
                <div class="th" style="width:15%">Date</div>
                <div class="th" style="width:50%">Artists</div>
                <div class="th" style="width:20%">Venue</div>
                <div class="th" style="width:15%">City</div>  
                </div>  
                <div style="width:100%" for(event in input.events)>
                    <div class="th" style="width:15%">${new Date(event.Date).toString("ddd MMM d, yyyy")}</div>
                    <div class="th" style="width:50%"><a href="${event.TicketUrl}"><span for(Artist in event.Artists)>${Artist.Name}&nbsp;</span></a></div>
                    <div class="th" style="width:20%"><a href="${event.Venue.Url}">${event.Venue.Name}</a></div>
                    <div class="th" style="width:15%">${event.Venue.City}, ${event.Venue.StateCode}</div>
                </div>
  
            <h4>powered by <a href="http://www.JamBase.com">JamBase™</a></h4>

        </div>

    </body>
</html>